
/* preventing safari default style------------- */
input, textarea,div {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    line-height: normal ;
  }
  
  *{
    -webkit-appearance: none;
  }
  



.searchBar,.searchBtn{
    padding:10px;
    border:solid 1px rgba(177, 177, 177, 0.541);
    margin:10px;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    background-color: rgb(252, 251, 191);
    border-radius: 10px;
    font-weight: bold;

}

.searchBar{
    cursor: text;
}

.searchBtn:hover{
    background-color: rgb(248, 246, 142);
}
.topSearch{
    position: fixed;
    top:0;
    left: 50%;
    transform: translate(-50%);
    background: #257c88;
    
    background: -moz-linear-gradient(96deg, #257c88 8.43%, #4ecfe0 94.44%);
    background: -webkit-linear-gradient(96deg, #257c88 8.43%, #4ecfe0 94.44%);
    background:linear-gradient(96deg, #257c88 8.43%, #4ecfe0 94.44%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a30000",endColorstr="#d9cb0a",GradientType=1);
    width: 754px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);

    /* border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; */
}


ul{
    text-align: left;
}

h1{
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom: 2px solid #fafafa;
    width: 100%;
    
    background: -moz-linear-gradient(96deg, #af2f02 8.43%, #F8CE57 94.44%);
    background: -webkit-linear-gradient(96deg, #af2f02 8.43%, #F8CE57 94.44%);
    background:linear-gradient(96deg, #af2f02 8.43%, #F8CE57 94.44%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a30000",endColorstr="#d9cb0a",GradientType=1);

    margin-top:0;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
}
.resipesWrapper{
    display:flex;
    flex-flow: column wrap;
    width:100%;
    margin: auto;
    margin-top:77px;
    justify-content: space-around;
}

.reci{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
    align-items: flex-start;
    padding-top:30px;
    padding-bottom:30px;

}

.reciTitle{
    width: 100%;
    text-align: center;

}

.mainReciWrap{
    background-color: #fffcd0ce;
    margin-top:10px;
   border-radius:15px;
   border: rgba(255, 255, 255, 0.411) 1px solid;
}
html {
    scroll-behavior: smooth;
  }
body{
    background: #c7641e;
    
    background: -moz-linear-gradient(96deg, #c7641e 8.43%, #F8CE57 94.44%);
    background: -webkit-linear-gradient(96deg, #c7641e 8.43%, #F8CE57 94.44%);
    background:linear-gradient(96deg, #c7641e 8.43%, #F8CE57 94.44%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a30000",endColorstr="#d9cb0a",GradientType=1);

    word-break: break-word;
}
.App{
    width: 750px;
    padding:0;
    max-width: 100vw;
    margin: auto;
    text-align: center;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.top{
    position: fixed;
    bottom: 50px;
    right:50px;


}

.logoBottom{
    position: fixed;
    top: 50px;
    left:50px;

    width: 100px;
    height: auto;
    border-radius: 50%;
    padding: 0;  
    margin: 0;
  
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
        background: #4bbfce;
}
.topImg{
    width: 200px;
    height: auto;
    border-radius: 50%;
    padding: 0;  
    margin: 0;
  
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    background: #4bbfce;
}

.bonAppetit{
    width: 300px;
    margin: auto;
    height: auto;
}
.start{
border:solid rgba(8, 8, 8, 0.226) 1px;
border-radius: 15px;
}

.startH1{
    padding:10px;
    width: fit-content;
    border-bottom: 0;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 10px;


}
.startH2{
    font-size: 2.8rem;
    /* border:solid rgba(68, 0, 0, 0.329) 1px; */
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    background:rgba(255, 255, 255, 0.075);
    padding:20px;
    border-radius: 10px;

}
.dishImg{
    border:solid 1px rgba(29, 29, 29, 0.24);
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
}



.close{
    height: fit-content;
    
    opacity: 1;
    -webkit-transition: opacity .4s ease;
       -moz-transition: opacity .4s ease;
         -o-transition: opacity .4s ease;
            transition: opacity .4s ease;

}
.open{
    height: fit-content;

    opacity: 1;
    -webkit-transition: opacity .4s ease;
       -moz-transition: opacity .4s ease;
         -o-transition: opacity .4s ease;
            transition: opacity .4s ease;

}

.descBtn{
    height: 0;
    display: none;
    visibility: hidden;


    background: #257c88;
    
    background: -moz-linear-gradient(96deg, #257c88 8.43%, #4ecfe0 94.44%);
    background: -webkit-linear-gradient(96deg, #257c88 8.43%, #4ecfe0 94.44%);
    background:linear-gradient(96deg, #257c88 8.43%, #4ecfe0 94.44%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a30000",endColorstr="#d9cb0a",GradientType=1);

    color: white;
}

.shareDiv{
    background-color: #3b5998;
    text-align: center;
    padding:10px;
    color:white;
    margin:auto;
    border-radius: 10px;
    width: fit-content;
    /* margin-top:5px;
    min-width: 100px; */
    outline: none;
    border:none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);

}
.shareDivWTS{
    background-color: #00e676;
    text-align: center;
    padding:10px;
    color:white;
    margin:auto;
    border-radius: 10px;
    width: fit-content;
    /* margin-top:5px;
    min-width: 100px; */
    outline: none;
    border:none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);

}

.btns{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

a,a:active,a:visited{
    text-decoration: none;
    color:white;
}

@media only screen and (max-width: 800px){
    .start{
        border:none;
        }
    h1{
        border-top-left-radius:0;
        border-top-right-radius:0;
    }
    
.mainReciWrap{
    background-color: #fffcd0ce;
    margin-top:70px;
   border-radius:0;
   border: rgba(255, 255, 255, 0.411) 1px solid;
}
.resipesWrapper{
    width: 100%;
    padding:0;
    margin:0;
}
    .close{
        height: 0;
        /* display: none; */
        visibility: hidden;
        transition: height 0.4s linear;


        opacity: 0;
    -webkit-transition: opacity .4s ease;
       -moz-transition: opacity .4s ease;
         -o-transition: opacity .4s ease;
            transition: opacity .4s ease;
    }

    .dishImg{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    margin:0;
    }
    .reci{
        display: grid;
        grid-template-columns: 1fr;
        /* border: solid red 1px; */
        justify-items: center;
        align-items: flex-start;
        width: 100%;
        border-radius: 0;
    }
    .App{
        width: 100vw;
        padding:0;
        margin:0;
    }
.topSearch{
    width: 100%;
}
    .top{
        bottom: 5px;
        right:5px;
    }
    .logoBottom{
        height: 0;
        display: none;
        visibility: hidden;
    }
    .topImg{
        width: 50px;
        height: auto;
    }

    .descBtn{
        height: fit-content;
        display: block;
        visibility: visible;
    }




    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    textarea {
      font-size: 16px;
    }
}

